

// Color
$color-red: #ba0000;
$color-yellow: #ffcc00;
$color-light: #777777;
$color-mild-light: #ACACAC;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-red: #9d0000;


// Sizes

$content-width: 1170px;
$tabled-big-width: 991px;
$tablet-small-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;
